# Dépendances
node_modules/

# Builds
dist/
build/
.angular/

# Variables d'environnement (contient MAIL_PASS, etc.)
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*

# Système
.DS_Store
Thumbs.db

# Éditeurs
.vscode/
.idea/

# Backend uploads temporaires si tu en as
backend/tmp/